input {
  /* appearance: none; */

  display: flex;
  align-items: center;
  justify-content: center;

  /* font */
  font-weight: 400;
  line-height: 140%;
}

input[type="text"] {
  outline: none;
  width: 100%;

  border-radius: 0.75rem;
  padding: 0.75rem 1.125rem;
  border: 2px solid var(--border-primary);

  &::placeholder {
    color: var(--content-tertiary);
    opacity: 0.8;
  }

  &:hover {
    border: 2px solid var(--border-hover);
  }

  &:focus {
    border: 2px solid var(--color-brand);
  }
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-block: 3rem 2.5rem;
}

.error {
  border: 1px solid var(--color-danger) !important;

  &::placeholder {
    color: var(--color-danger) !important;
  }
}

@media (width >= 80em) {
  .input-wrapper {
    flex-direction: row;

    & input {
      flex: 3;
    }

    & button {
      flex: 1;
    }
  }
}
